:root {
  --colorPrimary: #a9fff7;
  --colorSecondary: #022b3a;
  --colorBackground: #ffffff;
  --colorSurface: #eeeeee;
}

/* General */
.hidden {
  display: none;
}

body {
  margin: 0;
  background-color: var(--colorBackground);
  font-family: sans-serif;
}

main {
  margin: 16px;
}

section {
  background-color: var(--colorSurface);
  overflow: hidden;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
}

h1 {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  background-color: var(--colorSecondary);
  color: white;
}

button:active {
  opacity: 70%;
}

/* Header */
header {
  background-color: var(--colorPrimary);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  cursor: pointer;
  width: 64px;
}

header nav button {
  cursor: pointer;
  margin-left: 8px;
  padding: 8px 32px;
  border: none;
  border-radius: 4px;
  background-color: var(--colorSecondary);
  color: white;
}

header nav button:hover {
  opacity: 85%;
}

/* Popup */
#creditsPopup {
  position: absolute;
  border: 2px solid var(--colorSecondary);
  border-radius: 4px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  background-color: var(--colorPrimary);
  top: 4.5em;
  right: 16px;
}

#creditsPopup ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
}

#creditsPopup li:not(li:last-of-type) {
  margin-bottom: 16px;
}

#creditsPopup a {
  color: var(--colorSecondary);
}

/* Home Screen */
main#home {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  gap: 16px;
}

main#home section ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

main#home section ul li {
  cursor: pointer;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

main#home section ul li:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Playlist Screen */
main#playlist header button {
  cursor: pointer;
  padding: 8px 32px;
  border: none;
  border-radius: 4px;
  background-color: var(--colorSecondary);
  color: white;
}

main#playlist header button:hover {
  opacity: 90%;
}

main#playlist table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
}

main#playlist thead tr {
  background-color: rgba(0, 0, 0, 0.1);
}

main#playlist td {
  cursor: pointer;
}

main#playlist th {
  text-align: start;
}

main#playlist th:nth-of-type(1) {
  width: 35%;
}

main#playlist th:nth-of-type(3),
main#playlist th:nth-of-type(5) {
  width: min-content;
}

main#playlist td:nth-of-type(3),
main#playlist td:nth-of-type(5) {
  text-align: center;
}

main#playlist th:nth-of-type(6) {
  width: 5%;
}

main#playlist td,
main#playlist th {
  padding: 12px 24px;
}

main#playlist th:first-of-type,
main#playlist td:first-of-type {
  padding-left: 100px;
}

main#playlist th:last-of-type,
main#playlist td:last-of-type {
  padding-right: 100px;
}

main#playlist td:not(td:last-of-type),
main#playlist th:not(th:last-of-type) {
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}

main#playlist table button {
  cursor: pointer;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}

main#playlist table button:active {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  font-size: 0.75em;
  margin-top: 100px;
  text-align: center;
}

footer a {
  color: var(--colorSecondary);
}

/* Browse/Search Page */
#search {
  display: none;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20px;
  padding-left: 0px;
  margin-left: 0px;
}
#filterBox {
  background-color: var(--colorSurface);
  height: 50%;
  width: 60%;
  border-radius: 16px;
  justify-self: end;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

#filterList {
  list-style-type: none;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
}

#filterList li {
  padding-left: 50px;
  padding-top: 20px;
}
#resultsBox {
  background-color: var(--colorSurface);
  height: 100%;
  width: 80%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
#resultsBox h1 {
  margin-bottom: 16px;
}
#resultsBox > button:nth-of-type(1),
#resultsBox > button:nth-of-type(2),
#resultsBox > button:nth-of-type(3),
#resultsBox > button:nth-of-type(4),
#resultsBox > button:nth-of-type(5),
#filterBox button {
  cursor: pointer;
  padding: 8px 32px;
  border: none;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}

#browseList {
  list-style-type: none;
  padding-left: 50px;
  height: 500px;
  width: 100%;
  overflow-y: scroll;
}

#browseList li {
  padding: 5px;
  margin: 5px;
  border-bottom: 1px solid black;
}

#orderTitle {
  margin-left: 70px;
}
#orderArtist {
  margin-left: 150px;
}
#orderYear {
  margin-left: 50px;
}
#orderGenre {
  margin-left: 40px;
}
#orderPopularity {
  margin-left: 10px;
}
#resultsBox > button.buttonSelected,
#filterBox button:last-of-type {
  color: white;
  background-color: var(--colorSecondary);
}

.songName {
  display: inline-block;
  width: 240px;
  cursor: pointer;
}
.artistName {
  display: inline-block;
  width: 180px;
}
.songYear {
  display: inline-block;
  width: 100px;
}
.genreName {
  display: inline-block;
  width: 170px;
}
.popularity {
  display: inline-block;
  width: 70px;
}
.addToPlayListButton {
  margin-right: 0px;
  padding: 0px;
}

.addedPopUp {
  display: block;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px;
  background-color: var(--colorSecondary);
  color: #fff;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
.addedPopUp.show {
  opacity: 1;
}
.pointerCursor {
  cursor: pointer;
}

#song {
  display: none;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20px;
  height: 770px;
}
#songInfo {
  background-color: var(--colorSurface);
  justify-self: end;
  width: 40%;
  height: 90%;
  text-align: center;
}
#songInfo h3 {
  background-color: var(--colorSecondary);
  color: #fff;
  padding: 10px;
}

#songInfoList {
  list-style-type: none;
  margin-right: 40px;
}
#songInfoList li,
#songAnalysisList li {
  border: 1px solid var(--colorSecondary);
  padding: 5px;
}
#songAnalysisList {
  list-style-type: none;
  margin-right: 40px;
  border: black;
}
.songDetails {
  font-weight: bold;
}

#radarSection {
  background-color: var(--colorSurface);
  width: 55%;
  height: 100%;
  text-align: center;
}

#radarCanvas {
  background-color: white;
  width: 100%;
  height: 100px;
}
