:root {
  --colorPrimary: green;
  --colorSecondary: pink;
  --colorBackground: lightgrey;
  --colorSurface: grey;
}

.hidden {
  display: none;
}

body {
  margin: 0;
  background-color: var(--colorBackground);
  font-family: sans-serif;
}

/* Header */
header {
  background-color: var(--colorPrimary);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav button {
  margin-left: 8px;
  padding: 8px 32px;
  border: none;
  border-radius: 4px;
  background-color: var(--colorSecondary);
}

header nav button:hover {
  opacity: 85%;
}

section {
  background-color: var(--colorSurface);
}

/* Popup */
#creditsPopup {
  position: absolute;
  border: 2px solid var(--colorSecondary);
  border-radius: 4px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  background-color: var(--colorPrimary);
  top: 56px;
  right: 16px;
}

#creditsPopup ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
}

#creditsPopup li:not(li:last-of-type) {
  margin-bottom: 16px;
}

#creditsPopup a {
  color: var(--colorSecondary);
}

/* Home Screen */
main#home {
  margin: 16px;
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  gap: 16px;
}

main#home section {
  border-radius: 16px;
}

main#home section h1 {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 16px 16px 0 0;
  text-align: center;
  background-color: var(--colorSecondary);
}

main#home section ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

main#home section ul li {
  cursor: pointer;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

main#home section ul li:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
